@use "../../main-style.scss" as *;

/********************************************************************************/
/* display login form */
/********************************************************************************/
.form-wrapper {
  // background: linear-gradient(-135deg, rgba(0,0,0,1) 25%, rgba(9,9,121,1) 50%, rgba(55,155,255,1) 100%);
  background-color: $clr-mono-500;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 100%;
  // border: 1px dashed $clr-primary-500;
  // i.fa-sign-in {
  //   font-size: 100px;
  // }
}

.form__login {
  padding: ($spacing);
  width: 100%;
  max-width: 320px;
  position: relative;
  padding-bottom: 80px;
  border-radius: 10px;

  .form__input {
    display: block;
    padding: ($spacing) ($spacing);
    margin-bottom: ($spacing);
    width: 100%;
    border: 1px solid $clr-mono-100;
    transition: border-width 0.2s ease;
    color: $clr-mono-500;
    background-color: lightgray;
    border-radius: 30px;
    text-align: center;

    &::placeholder {
      text-align: center;
    }

    & + i.fa {
      color: $clr-mono-100;
      font-size: 0.45em;
      position: absolute;
      margin-top: -48px;
      margin-left: -2px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      outline: none;
      color: $clr-primary-500;
      border-color: $clr-primary-500;
      border-left-width: 35px;

      & + i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out;
      }
    }
  }

  .invalid {
    border: 1px solid $clr-danger-200;
    color: $clr-mono-100;
    background-color: rgb(255, 125, 125);

    & + i.fa {
      color: $clr-mono-100;
      font-size: 0.45em;
      position: absolute;
      margin-top: -48px;
      margin-left: -2px;
      opacity: 0;
      left: 0;
      transition: all 0.1s ease-in;
    }

    &:focus {
      outline: none;
      color: $clr-mono-100;
      border-color: $clr-danger-200;
      border-left-width: 35px;

      & + i.fa {
        opacity: 1;
        left: 30px;
        transition: all 0.25s ease-out;
      }
    }
  }

  .form__title,
  .form__or {
    color: $clr-mono-100;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    margin: ($spacing) 0;
    // padding-bottom: 20px;
  }

  .form__info {
    color: $clr-danger-200;
    text-align: center;
    // font-family: "Playfair Display", serif;
    font-size: 0.5em;
    font-style: italic;
    margin: ($spacing) 0;
  }

  .form__btn {
    width: 100%;
    height: 100%;
    background: $clr-mono-500;
    color: $clr-mono-100;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 30px;
    border: 1px solid $clr-mono-100;
    padding: ($spacing) ($spacing);
    cursor: pointer;
    transition: all 0.25s ease-in-out;

    &:hover {
      background: $clr-primary-500;
      // border: 1px solid $secondary;
      color: $clr-mono-100;
      border: 1px solid $clr-mono-500;
    }
  }
}
