@use "../../styles/main/main-style.scss" as *;

.view {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 10px;
  margin-left: 200px;
  transition: all 0.5s ease-in-out;
}

/********************************************************************************/
/* setup main dashboard view grid */
/********************************************************************************/
.view__main__dashboard {
  display: flex;
  flex-direction: column;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: 225px;
    grid-auto-flow: dense;

    & a {
      text-decoration: none;
      color: $clr-mono-500;
      border-radius: 15px;
      background: lightgray !important;
      width: 100%;
      height: 100%;

      transition: all 0.25s ease-in-out;

      &:hover,
      &:focus {
        background-color: $clr-primary-500 !important;
        color: $clr-mono-100 !important;
      }

      .emptyCard {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .card {
        padding: ($spacing * 2);
        height: 100%;
        font-size: ($spacing * 0.95);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
        line-height: ($spacing * 1.3);
        text-align: center;

        .card__txt {
          font-family: "Playfair Display", serif;
        }

        .card__line {
          width: 75%;
          height: 3px;
          background-color: $clr-primary-500;
        }

        p {
        }
      }
    }
  }
}

/********************************************************************************/
/* setup list all/filter users-grid */
/********************************************************************************/
.view__one {
  flex-direction: column;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .filter-control {
    width: 100%;

    & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: ($spacing);
      font-style: italic;

      .filter--link {
        padding: 0 ($spacing / 4);
        cursor: pointer;
        color: lightgray;
        transition: all 0.5s ease-in-out;

        &:hover,
        &:focus {
          color: $clr-primary-500;
        }
        &:focus {
          color: $clr-mono-500;
        }
      }
      .filter--link--active {
        color: $clr-mono-500;
      }
    }
  }

  .card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;

    .emptyUserCard {
      background-color: lightgray !important;
      cursor: pointer;
      position: relative;
      display: flex;
      transition: all 0.5s ease-in-out !important;

      &:hover {
        background-color: $clr-primary-500 !important;
        color: $clr-mono-100 !important;
      }

      .plusSymbole {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 150px;
        background-color: $clr-mono-100;
        clip-path: polygon(
          33% 0%,
          66% 0%,
          66% 33%,
          99% 33%,
          99% 66%,
          66% 66%,
          66% 99%,
          33% 99%,
          33% 66%,
          0% 66%,
          0% 33%,
          33% 33%
        );

        -moz-clip-path: polygon(
          33% 0%,
          66% 0%,
          66% 33%,
          99% 33%,
          99% 66%,
          66% 66%,
          66% 99%,
          33% 99%,
          33% 66%,
          0% 66%,
          0% 33%,
          33% 33%
        );

        -webkit-clip-path: polygon(
          33% 0%,
          66% 0%,
          66% 33%,
          99% 33%,
          99% 66%,
          66% 66%,
          66% 99%,
          33% 99%,
          33% 66%,
          0% 66%,
          0% 33%,
          33% 33%
        );

        animation: popping 1s infinite alternate;
        -webkit-animation: popping 1s infinite alternate;
      }
    }

    .userCard {
      position: relative;
      padding: ($spacing * 2);
      height: 100%;
      font-size: ($spacing * 0.95);
      background-color: snow;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      line-height: ($spacing * 1.3);
      // cursor: pointer;

      perspective: 1000px;
      transition: transform 0.8s;
      transform-style: preserve-3d;

      .card__txt {
        font-family: "Playfair Display", serif;

        a {
          pointer-events: all;
        }
      }

      .card__line {
        width: 75%;
        height: 3px;
        background-color: $clr-primary-500;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        margin: ($spacing);
        background-color: $clr-primary-500;
        width: 50px;
        height: auto;
        clip-path: circle();
      }

      p {
        margin-bottom: ($spacing * 0.7);
        pointer-events: none;
      }

      .btn {
        width: 100%;
        height: 20px;
        background: $clr-primary-500;
        color: $clr-mono-100;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        margin: ($spacing / 4) auto;
      }

      .btn__edit:hover,
      .btn__edit:focus {
        background: $clr-mono-500;
        outline: none;
        color: $clr-mono-100;
      }

      .btn__delete:hover,
      .btn__delete:focus {
        background: $clr-danger-200;
        outline: none;
        color: $clr-mono-100;
      }
    }
  }
}

/********************************************************************************/
/* setup add a new user */
/********************************************************************************/
.view__two {
  flex-direction: column;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .__form {
    padding: ($spacing * 2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    width: clamp(50%, 100%, 500px);
    height: 100%;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: min-content minmax(150px, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;

    font-size: ($spacing * 0.95);

    .form__label {
      text-align: center;
      margin: auto 0;
    }

    input,
    select {
      border: 1px solid $clr-primary-500;
      color: $clr-primary-500;
      padding-left: ($spacing / 2);

      &:focus {
        background: $clr-primary-500;
        color: $clr-mono-100;
        outline: none;
        border: 2px solid $clr-primary-500;
      }
    }

    input::placeholder {
      padding-left: ($spacing / 2);
      color: $clr-primary-500;
    }

    .form__btn {
      width: 100%;
      height: 20px;
      background: $clr-primary-500;
      color: $clr-mono-100;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      margin: ($spacing / 4) auto;

      &:hover,
      &:focus {
        background: $clr-mono-500;
        outline: none;
        color: $clr-mono-100;
        // border: 1px solid $clr-primary-500;
      }
    }
  }
  .form__info {
    padding: ($spacing);
  }
  .invalid {
    background-color: $clr-danger-100 !important;
    border: 2px solid $clr-danger-200 !important;
  }
}

/********************************************************************************/
/* setup edit a user */
/********************************************************************************/
.view__three {
  flex-direction: column;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .__form {
    padding: ($spacing * 2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    width: clamp(50%, 100%, 500px);
    height: 100%;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: min-content minmax(150px, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: dense;

    font-size: ($spacing * 0.95);

    .form__label {
      text-align: center;
      margin: auto 0;
    }

    input,
    select {
      border: 1px solid $clr-primary-500;
      color: $clr-primary-500;
      padding-left: ($spacing / 2);

      &:focus {
        background: $clr-primary-500;
        color: $clr-mono-100;
        outline: none;
        border: 2px solid $clr-primary-500;
      }
    }

    input::placeholder {
      padding-left: ($spacing / 2);
      color: $clr-primary-500;
    }

    .form__btn {
      width: 100%;
      height: 20px;
      background: $clr-primary-500;
      color: $clr-mono-100;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: all 0.25s ease-in-out;
      margin: ($spacing / 4) auto;

      &:hover,
      &:focus {
        background: $clr-mono-500;
        outline: none;
        color: $clr-mono-100;
        // border: 1px solid $clr-primary-500;
      }
    }
  }

  .search__input {
    width: 50%;
    padding: ($spacing / 2);
    margin: ($spacing / 2);
    border: 1px solid $clr-primary-500;
    color: $clr-primary-500;
    padding-left: ($spacing / 2);

    &:focus {
      background: $clr-primary-500;
      color: $clr-mono-100;
      outline: none;
      border: 2px solid $clr-primary-500;
    }

    &::placeholder {
      padding-left: ($spacing / 2);
      color: $clr-primary-500;
    }
  }

  .form__info {
    padding: ($spacing);
  }

  .invalid {
    background-color: $clr-danger-100 !important;
    border: 2px solid $clr-danger-200 !important;
  }
}

/********************************************************************************/
/* setup qualifications */
/********************************************************************************/
.view__four {
  display: flex;
  flex-direction: column;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .card-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
    grid-auto-flow: dense;

    .trainerCard {
      position: relative;
      padding: ($spacing);
      height: 100%;
      font-size: ($spacing * 0.95);
      background-color: snow;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      line-height: ($spacing * 1.3);
      // cursor: pointer;
      pointer-events: visible;

      transition: transform 0.8s;
      transform-style: preserve-3d;

      .card__txt {
        font-family: "Playfair Display", serif;
      }

      .card__line {
        width: 75%;
        height: 3px;
        background-color: $clr-primary-500;
      }

      img {
        position: absolute;
        top: 0;
        right: 0;
        margin: ($spacing);
        background-color: $clr-primary-500;
        width: 50px;
        height: auto;
        clip-path: circle();
      }

      cite {
        // background: rgba(0, 0, 0, .05);
        color: $clr-primary-500;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: ($spacing / 2);
        font-size: ($spacing * 0.75);
        line-height: 100%;
        padding: ($spacing / 4);
      }
      // p {
      //   margin-bottom: ($spacing * 0.7);
      //   pointer-events: none;
      // }

      .skillsets {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: ($spacing / 2) 0;
        margin: ($spacing * 0.15);
        // border: 1px solid $clr-danger-200;

        .skills {
          display: flex;
          justify-content: center;
          align-items: center;

          pointer-events: visible;

          min-width: fit-content;
          // border: 1px solid $clr-danger-200;
          padding: ($spacing * 0.15);

          & label {
            // padding: ($spacing * 0.15);
            cursor: pointer;
            font-size: ($spacing * 0.8);
            // background: rgba(55, 155, 255, 0.25);
          }

          & input[type="checkbox"] {
            cursor: pointer;
          }

          &:hover {
            background: $clr-primary-500;
            color: $clr-mono-100;
          }
        }
      }

      .form__btn {
        display: none;
        width: 100%;
        height: 20px;
        background: $clr-primary-500;
        color: $clr-mono-100;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        pointer-events: all;
        transition: all 0.25s ease-in-out;
        margin: ($spacing / 4) auto;

        &:hover,
        &:focus {
          background: $clr-mono-500;
          outline: none;
          color: $clr-mono-100;
          // border: 1px solid $clr-primary-500;
        }
      }
    }
  }
}

/********************************************************************************/
/* setup delete & add a new qualification */
/********************************************************************************/
.view__five {
  flex-direction: column;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .__form {
    padding: ($spacing * 2);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    width: clamp(50%, 100%, 500px);
    height: 100%;

    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    grid-auto-flow: dense;

    font-size: ($spacing * 0.95);

    .form__label {
      text-align: center;
      margin: auto 0;
    }

    ul.cloud {
      width: 100%;
      height: 100%;

      list-style: none;

      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
      grid-auto-rows: auto;
      grid-auto-flow: dense;

      gap: ($spacing / 4);

      li {
        padding: ($spacing / 4);
        display: flex;
        justify-content: center;
        align-items: center;

        background: $clr-primary-500;
        color: $clr-mono-100;

        transition: all 0.5s ease-in-out;

        &:hover {
          color: $clr-primary-500;
          background: rgba(55, 155, 255, 0.25);
        }

        p {
          font-size: ($spacing * 0.8);
          line-height: ($spacing * 0.75);
        }
      }
    }
  }

  .form__info {
    padding: ($spacing);
  }

  input,
  select {
    border: 1px solid $clr-primary-500;
    color: $clr-primary-500;
    padding-left: ($spacing / 2);

    &:focus {
      background: $clr-primary-500;
      color: $clr-mono-100;
      outline: none;
      border: 2px solid $clr-primary-500;
    }
  }

  input::placeholder {
    padding-left: ($spacing / 2);
    color: $clr-primary-500;
  }

  .form__btn {
    width: 100%;
    height: 20px;
    background: $clr-primary-500;
    color: $clr-mono-100;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    margin: ($spacing / 4) auto;

    // pointer-events: none;

    &:hover,
    &:focus {
      background: $clr-mono-500;
      outline: none;
      color: $clr-mono-100;
      // border: 1px solid $clr-primary-500;
    }
  }

  .invalid {
    background-color: $clr-danger-100 !important;
    border: 2px solid $clr-danger-200 !important;
    color: $clr-danger-200;
  }

  .danger {
    background-color: $clr-danger-100 !important;
    color: $clr-danger-200 !important;
  }
}

/********************************************************************************/
/* setup list training groups */
/********************************************************************************/
.view__six {
  flex-direction: column;
  justify-content: flex-start;

  h2 {
    padding: ($spacing);
    text-align: center;
  }

  .filter-control {
    width: 100%;

    & ul {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: ($spacing);
      font-style: italic;

      .filter--link {
        padding: 0 ($spacing / 4);
        cursor: pointer;
        color: lightgray;

        &:hover,
        &:focus {
          color: $clr-primary-500;
        }
        &:focus {
          color: $clr-mono-500;
        }
      }
      .filter--link--active {
        color: $clr-mono-500;
      }
    }
  }

  .card-container {
    width: 100%;
    // height: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-flow: dense;

    .trainingGroupCard {
      position: relative;
      padding: ($spacing * 2);
      height: 100%;
      font-size: ($spacing * 0.95);
      background-color: snow;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
      border-radius: 15px;
      line-height: ($spacing * 1.3);
      // cursor: pointer;
      pointer-events: visible;

      .trainingGroup_content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .content_main {




          input,
          label {
            pointer-events: none;
          }
        }

        .content_participants {

          & ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            & li {
              padding: 0 ($spacing / 4);
            }
          }
        }

        .content_supervisor {

          & ul {
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;

            & li {
              padding: 0 ($spacing / 4);
            }
          }
        }
      }

      .card__txt {
        font-family: "Playfair Display", serif;

        a {
          pointer-events: all;
        }
      }

      .card__line {
        width: 75%;
        height: 3px;
        background-color: $clr-primary-500;
      }

      p {
        margin-bottom: ($spacing * 0.7);
        pointer-events: none;
      }

      .btn {
        width: 100%;
        height: 20px;
        background: $clr-primary-500;
        color: $clr-mono-100;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all 0.25s ease-in-out;
        margin: ($spacing / 4) auto;
      }

      .btn__edit:hover,
      .btn__edit:focus {
        background: $clr-mono-500;
        outline: none;
        color: $clr-mono-100;
      }

      .btn__delete:hover,
      .btn__delete:focus {
        background: $clr-danger-200;
        outline: none;
        color: $clr-mono-100;
      }
    }
  }
}

.view__seven {
  background: lightgoldenrodyellow;
}

.view__eight {
  background: lightseagreen;
}

/********************************************************************************/
/* keyframes for popping */
/********************************************************************************/
@keyframes popping {
  from {
    width: 100px;
    height: 100px;
  }
  to {
    width: 125px;
    height: 125px;
  }
}
@-webkit-keyframes popping {
  from {
    width: 100px;
    height: 100px;
  }
  to {
    width: 150px;
    height: 150px;
  }
}
