.view {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.view__main__dashboard {
  background: lightblue;
}

.view__one {
  background: lightcoral;
}

.view__two {
  background: lightgreen;
}

.view__three {
  background: lightgoldenrodyellow;
}

.view__four {
  background: lightpink;
}

.view__five {
  background: lightcoral;
}

.view__six {
  background: lightgreen;
}

.view__seven {
  background: lightgoldenrodyellow;
}

.view__eight {
  background: lightseagreen;
}
