.container__dashboard {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  /****************************************************/
}

.container__dashboard .tool__navbar {
  position: fixed;
  z-index: 99;
  background-color: black;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.container__dashboard .tool__navbar .tool__nav__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  min-width: 50px;
  height: 50px;
  margin: 0rem 1rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container__dashboard .tool__navbar .tool__nav__btn .tool__btn__burger {
  width: 35px;
  height: 4px;
  background-color: #379bff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container__dashboard .tool__navbar .tool__nav__btn .tool__btn__burger::before, .container__dashboard .tool__navbar .tool__nav__btn .tool__btn__burger::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 4px;
  background-color: #379bff;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container__dashboard .tool__navbar .tool__nav__btn .tool__btn__burger::before {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container__dashboard .tool__navbar .tool__nav__btn .tool__btn__burger::after {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.container__dashboard .tool__navbar .tool__nav__logged__as {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 0rem 1rem;
  color: white;
  font-size: 1rem;
}

.container__dashboard .tool__navbar .tool__nav__logged__as p {
  padding: 0rem 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__dashboard .tool__navbar .tool__nav__logged__as #profile_pic {
  height: 50px;
  -webkit-clip-path: circle();
          clip-path: circle();
}

.container__dashboard .tool__control {
  position: relative;
  top: 0;
  left: 0;
  width: 200px;
  height: clamp(100vh, 100%, 100%);
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: auto;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.container__dashboard .tool__control .tool__items ul {
  margin: 90px auto;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.container__dashboard .tool__control .tool__items li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  background-color: white;
  width: 185px;
  height: auto;
  margin: 0.1rem 0rem;
}

.container__dashboard .tool__control .tool__items li a {
  width: 100%;
  padding: 0.75rem 0.75rem;
  height: 100%;
  color: black;
  text-decoration: none;
}

.container__dashboard .tool__control .tool__items li a:hover {
  background-color: #dddddd;
}

.container__dashboard .tool__control .tool__items li a:focus {
  background-color: #379bff;
}

.container__dashboard .tool__control .tool__items li .tool__link--active {
  background-color: #379bff;
  color: white;
}

.container__dashboard .dashboard__loggout {
  position: fixed;
  bottom: 0;
  left: 0;
  cursor: pointer;
  width: 200px;
  background: black;
}

.container__dashboard .dashboard__loggout a {
  padding: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50px;
  color: white;
  text-decoration: none;
}

.container__dashboard .dashboard__loggout a:hover {
  background-color: #379bff;
}

/********************************************************************************/
/* animation tool-control & view */
/********************************************************************************/
.tool__control.swipe {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.view.swipe {
  margin-left: -200px;
}

.tool__nav__btn.swipe .tool__btn__burger {
  -webkit-transform: rotate(450deg);
          transform: rotate(450deg);
}
/*# sourceMappingURL=dashboard-main-style.css.map */