@use "../../main-style.scss" as *;
/*
*   display content
*/
/********************************************************************************/
/* content general */
/********************************************************************************/
.container {
  height: 100vh;
  width: 100%;
  position: relative;

  .accent {
    color: $clr-primary-500;
  }

  .accent--inverted {
    color: $clr-mono-100;
  }
}

/*
* display sections
*/
/********************************************************************************/
/* section home */
/********************************************************************************/
.home__section {
  background: $clr-mono-100;
  overflow: hidden;

  .wrapper__typewriter {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: ($spacing * 4);
    font-size: 12vw;
    // font-size: clamp(50px, 12vw, 20vw);
    letter-spacing: -0.05em;
    line-height: 80%;

    .Typewriter__cursor {
      color: $clr-primary-500;
    }
  }

  .container__snippet {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    animation: bounce 0.55s infinite alternate;
    -webkit-animation: bounce 0.55s infinite alternate;

    & a {
      text-decoration: none;
      color: $clr-mono-500;
      display: inline-flex;

      .container__snippet__txt {
        cursor: pointer;
        font-family: "Playfair Display", serif;
        font-size: ($spacing);
        letter-spacing: 0.05em;
      }

      &:hover {
        color: $clr-primary-500;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      height: 45px;
      width: 1px;
      background-color: $clr-mono-500;
    }
  }
}

/********************************************************************************/
/* section about */
/********************************************************************************/
.about__section {
  overflow: hidden;

  background: $clr-mono-500;

  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;

    .line {
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      // background: $clr-mono-100;
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(
          to bottom,
          $clr-mono-500 0%,
          $clr-primary-500 75%,
          $clr-primary-500 100%
        );
        animation: drop 5s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      }

      &:nth-child(1) {
        margin-left: -35%;

        &::after {
          animation-delay: 2s;
        }
      }

      &:nth-child(3) {
        margin-left: 35%;

        &::after {
          animation-delay: 2.5s;
        }
      }
    }
  }

  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  .wrapper__content__about {
    width: 100%;
    height: 100%;
    padding: ($spacing * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading__about {
      width: 100%;
      text-align: center;
      color: $clr-mono-100;
      font-size: 5vw;
      line-height: 150%;
      padding-bottom: ($spacing * 1.5);
    }

    .txt__about {
      max-width: 60%;
      padding-top: ($spacing * 1.5);
      position: relative;

      & p {
        text-align: center;
        color: $clr-mono-100;
        font-family: "Playfair Display", serif;
        font-size: ($spacing * 1.2);
        letter-spacing: 0.05em;
        padding: ($spacing) 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: $clr-mono-100;
      }
    }
  }

  .container__snippet {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    animation: bounce 0.55s infinite alternate;
    -webkit-animation: bounce 0.55s infinite alternate;

    & a {
      text-decoration: none;
      color: $clr-mono-100;
      display: inline-flex;

      .container__snippet__txt {
        cursor: pointer;
        font-family: "Playfair Display", serif;
        font-size: ($spacing);
        letter-spacing: 0.05em;
      }
      &:hover {
        color: $clr-primary-500;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      height: 45px;
      width: 1px;
      background-color: $clr-mono-100;
    }
  }
}

/********************************************************************************/
/* section contact */
/********************************************************************************/
.contact__section {
  overflow: hidden;

  .wrapper__content__contact {
    width: 100%;
    height: 100%;
    padding: ($spacing * 4);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading__contact {
      width: 100%;
      text-align: center;
      color: $clr-mono-500;
      font-size: 5vw;
      line-height: 150%;
      padding-bottom: ($spacing * 1.5);
    }

    .txt__contact {
      max-width: 60%;
      padding-top: ($spacing * 1.5);
      position: relative;

      & p {
        text-align: center;
        color: $clr-mono-500;
        font-family: "Playfair Display", serif;
        font-size: ($spacing * 1.2);
        letter-spacing: 0.05em;
        padding: ($spacing) ($spacing * 0);
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: $clr-mono-500;
      }

      .txt__contact__link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
          color: $clr-mono-500;
          padding: ($spacing * 0) ($spacing * 0.75);

          & i {
            font-size: 0.75em;
            cursor: pointer;

            &:hover {
              color: $clr-primary-500;
            }
          }
        }
      }
    }
  }

  .container__snippet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    animation: bounce 0.55s infinite alternate;
    -webkit-animation: bounce 0.55s infinite alternate;

    & a {
      text-decoration: none;
      color: $clr-mono-500;
      display: inline-flex;

      .container__snippet__txt {
        cursor: pointer;
        font-family: "Playfair Display", serif;
        font-size: ($spacing);
        letter-spacing: 0.05em;
      }

      &:hover {
        color: $clr-primary-500;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -($spacing * 2);
      height: 45px;
      width: 1px;
      background-color: $clr-mono-500;
    }
  }
}

/********************************************************************************/
/* keyframes for bouncing */
/********************************************************************************/
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
