/*
*   display content
*/
/********************************************************************************/
/* content general */
/********************************************************************************/
.container {
  height: 100vh;
  width: 100%;
  position: relative;

  .accent {
    color: rgb(55, 155, 255);
  }

  .accent--inverted {
    color: white;
  }
}

/*
* display sections
*/
/********************************************************************************/
/* section home */
/********************************************************************************/
.home__section {
  background: white;
  overflow: hidden;

  .wrapper__typewriter {
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    font-size: 12vw;
    // font-size: clamp(50px, 12vw, 20vw);
    letter-spacing: -0.05em;
    line-height: 80%;

    .Typewriter__cursor {
      color: rgb(55, 155, 255);
    }
  }

  .container__snippet {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    animation: bounce 0.55s infinite alternate;
    -webkit-animation: bounce 0.55s infinite alternate;

    & a {
      text-decoration: none;
      color: black;
      display: inline-flex;

      .container__snippet__txt {
        cursor: pointer;
        font-family: "Playfair Display", serif;
        font-size: 1rem;
        letter-spacing: 0.05em;
      }

      &:hover {
        color: rgb(55, 155, 255);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      height: 45px;
      width: 1px;
      background-color: black;
    }
  }
}

/********************************************************************************/
/* section about */
/********************************************************************************/
.about__section {
  overflow: hidden;

  background: rgb(0, 0, 0);

  .lines {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: 90vw;

    .line {
      position: absolute;
      width: 2px;
      height: 100%;
      top: 0;
      left: 50%;
      background: rgba(255, 255, 255, 0);
      overflow: hidden;

      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0) 0%,
          rgb(55, 155, 255) 75%,
          rgb(55, 155, 255) 100%
        );
        animation: drop 5s 0s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
      }

      &:nth-child(1) {
        margin-left: -35%;

        &::after {
          animation-delay: 2s;
        }
      }

      &:nth-child(3) {
        margin-left: 35%;

        &::after {
          animation-delay: 2.5s;
        }
      }
    }
  }

  @keyframes drop {
    0% {
      top: -50%;
    }
    100% {
      top: 110%;
    }
  }

  .wrapper__content__about {
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading__about {
      width: 100%;
      text-align: center;
      color: white;
      font-size: 5vw;
      line-height: 150%;
      padding-bottom: 1.5rem;
    }

    .txt__about {
      max-width: 60%;
      padding-top: 1.5rem;
      position: relative;

      & p {
        text-align: center;
        color: white;
        font-family: "Playfair Display", serif;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        padding: 1rem 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: white;
      }
    }
  }

  .container__snippet {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    animation: bounce 0.55s infinite alternate;
    -webkit-animation: bounce 0.55s infinite alternate;

    & a {
      text-decoration: none;
      color: white;
      display: inline-flex;

      .container__snippet__txt {
        cursor: pointer;
        font-family: "Playfair Display", serif;
        font-size: 1rem;
        letter-spacing: 0.05em;
      }
      &:hover {
        color: rgb(55, 155, 255);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -25px;
      height: 45px;
      width: 1px;
      background-color: white;
    }
  }
}

/********************************************************************************/
/* section contact */
/********************************************************************************/
.contact__section {
  overflow: hidden;

  .wrapper__content__contact {
    width: 100%;
    height: 100%;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .heading__contact {
      width: 100%;
      text-align: center;
      color: black;
      font-size: 5vw;
      line-height: 150%;
      padding-bottom: 1.5rem;
    }

    .txt__contact {
      max-width: 60%;
      padding-top: 1.5rem;
      position: relative;

      & p {
        text-align: center;
        color: black;
        font-family: "Playfair Display", serif;
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        padding: 1rem 0rem;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 1px;
        background-color: black;
      }

      .txt__contact__link {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & a {
          color: black;
          padding: 0rem 0.75rem;

          & i {
            font-size: 0.75em;
            cursor: pointer;

            &:hover {
              color: rgb(55, 155, 255);
            }
          }
        }
      }
    }
  }

  .container__snippet {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

    animation: bounce 0.55s infinite alternate;
    -webkit-animation: bounce 0.55s infinite alternate;

    & a {
      text-decoration: none;
      color: black;
      display: inline-flex;

      .container__snippet__txt {
        cursor: pointer;
        font-family: "Playfair Display", serif;
        font-size: 1rem;
        letter-spacing: 0.05em;
      }

      &:hover {
        color: rgb(55, 155, 255);
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -2rem;
      height: 45px;
      width: 1px;
      background-color: black;
    }
  }
}

/********************************************************************************/
/* keyframes for bouncing */
/********************************************************************************/
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
