@use "../../main-style.scss" as *;

/********************************************************************************/
/*  display footer */
/********************************************************************************/
footer {
  width: 100%;
  min-height: 25vh;
  background-color: $clr-mono-500;
  color: $clr-mono-100;
  padding: ($spacing * 2);
  display: block;
  z-index: 3;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background-color: $clr-primary-500;
    height: 2px;
    width: 35%;
  }

  .footer__logo__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .footer__logo {
      font-size: 4vw;

      &::after {
        content: "";
        margin: ($spacing * 2);
        border-right: 1px solid $clr-mono-100;
      }
    }

    .footer__logo__claim {
      font-size: 2vw;
    }
  }

  .footer__sub__menu ul {
    display: flex;
    width: fit-content;

    & li {
      font-size: ($spacing * 0.875);
      color: #888;
      list-style-type: none;
      padding: ($spacing * 0.75) ($spacing * 1.5) ($spacing * 0.75) ($spacing * 0);
      cursor: pointer;

      &:hover {
        color: $clr-primary-500;
      }
    }
    a {
      text-decoration: none;
    }
  }

  .footer__legal {
    font-family: "Playfair Display", serif;
    font-size: ($spacing * 0.875);
    letter-spacing: 0.02em;
    color: #888;
  }
}
