@media only screen and (min-device-width: 200px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .txt__about,
  .txt__contact {
    min-width: 100%;
    // display: flex;
    justify-content: center;
    align-items: center;

    & p {
      font-size: 0.75rem !important;
      // padding-top: 0rem !important;
    }

    & i {
      font-size: 0.45em !important;
    }
  }
  .container__snippet {
    height: 25px !important;
    bottom: -2px !important;

    
    &::after {
      // content: "";
      // position: absolute;
      bottom: -35px !important;
      height: 32px !important;
      // width: 1px;
      // background-color: white;
    }
  }
  .container__snippet__txt {
    font-size: 0.3em !important;
  }
  
  footer {
    height: auto !important;

    .footer__logo {
      font-size: 25px !important;
    }
    .footer__logo__claim {
      font-size: 10px !important;
    }
    .footer__sub__menu {
      padding: 0.1rem 0rem;

      & li {
        font-size: 0.75rem !important;
      }
    }
    .footer__legal {
      font-size: 0.6rem !important;
    }
  }
}